# FOLDERS
.vscode/
.sass-cache/
includes/
styles/scss/
unused/

# FILES
img/JDR_Pattern_Rev_SML.jpg
js/scripts/scripts.js
styles/css/main.css
styles/css/main.min.css
styles/css/*.map
**/*.pug
oldindex.html
