* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
header, section, footer { display: block; }

/* SIDEBAR NAVIGATION */
#sidenav {
    height: 100%;
    width: 200px;
    top: 0;
    left: -200px;
    display: block;
    position: fixed;
    background-color: #111;
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    z-index: 9999;
    transition: left 0.3s ease-in-out;
}
#sidenav.visible { left: 0; transition: left 0.3s ease-in-out; }

nav ul { margin: 0; padding: 0; }
nav ul li { list-style: none; }
nav ul li i { margin-right: 10px; color: #B03; }
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}
nav ul li:hover i { color: #FFF; transition: all 0.3s ease-in-out; }
nav ul li:hover a { padding-left: 20px; background: #B03; transition: all 0.3s ease-in-out; }

#sidenav_btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    margin: 20px;
    position: absolute;
    top: 0;
    right: -60px;
    cursor: pointer;
}
#sidenav_btn span { height: 2px; background: #B03; margin-bottom: 5px; display: block; }

/* SECTION STYLING */
.section, .subsection {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section { height: 100%; }
.subsection { height: 50%; }

.solid1 { background-color: #FFF; }
.withBG1 { background-image: url('../../img/JDR_Pattern_Rev_SML.jpg'); }

/* CENTRALIZE */
.centralize {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.centralize-content { display: table-cell; vertical-align: middle; }

/* BANNER */
.home-logo { margin-bottom: 20px; width: 130px; }
.home-logo img { width: 100%; }
.home-title, .home-subtitle { color: #FFF; }
.home-title { font-weight: 800; }
.home-subtitle { font-weight: 300; }

[class*="link-"]:before { margin-right: 7px; }
.link-home:before { content: "\f015"; font-family: FontAwesome; }
.link-folio:before { content: "\f1c5"; font-family: FontAwesome; }
.link-service:before { content: "\f0ac"; font-family: FontAwesome; }
.link-about:before { content: "\f007"; font-family: FontAwesome; }
.link-contact:before { content: "\f0e0"; font-family: FontAwesome; }

.go-down a { text-decoration: none; }
.go-down i {
    position: absolute;
    bottom: 10%;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
}

/* FOLIO */
#folioSec {
    padding: 50px 0;
}
#folioSec h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #777;
    letter-spacing: .8em;
}
.folio-wrapper {
    width: 96%;
    margin: 0 2%;
    overflow: hidden;
}
.folio-item {
    position: relative;
    float: left;
    width: 46%;
    margin: 2%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.folio-item-full {
    width: 96%;
    margin: 2%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

/* CONTACT */
#contactSec h2, h3 { color: #B03; }
#contactSec h3 { margin-top: 25px; }
#contactSec p { color: #FFF; font-size: 1.2em; }
#contactSec span a { color: #B03; text-decoration: none; }
#contactSec ul li {
    display: inline-block;
    margin: 5px 12px;
    list-style: none;
}
#contactSec ul li a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}
#contactSec ul li a:hover {
    color: #777;
    transition: all 0.3s ease-in-out;
}

/* FOOTER */
footer {
    clear: both;
    height: 50px;
    line-height: 50px;
    color: #777;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 479px) {
    .home-logo { margin-bottom: 35px; width: 110px; }
    .home-title { font-size: 1.5em; }
    .home-subtitle { font-size: 1em; }
}
@media screen and (max-width:  639px) {
    .section, .subsection { height: 100vh; padding: 20px 7px; }

    #serviceSec h1 { margin-bottom: 15px; font-size: 1.5em; }
    .service-icn { max-width: 65px; }
    .service-title { margin: 5px 0; font-size: 1.2em; }
    .service-desc { line-height: 1.2em; font-size: 0.8em; }
}
@media screen and (max-width: 767px) {
    .folio-item, .folio-item-full { width: 100%; }
}
